.App {
  text-align: center;
}

.App-header {
  position: fixed;
  background-color: #222;
  height: 12rem;
  width: 100%;
  top: 0;
  padding: 1rem;
  color: white;
  min-width: 300px;
}

.App-header h1 {
  font-size: 4rem;
}

.App-nav { 
  margin: 1rem;
}

a {
  text-decoration: none;
}

.App-nav a {
  color:rgb(185, 185, 185);
  margin: 1rem;
  text-transform: uppercase;
}

.App-nav a:hover {
 color: white;
}

.App-content {
padding-top: 14rem;
}
